<h3>API Consumer</h3>

<form>
  <fieldset class="form-group">
    <label for="searchApplication">Application*</label>
    <div class="input-group">
      <input type="text" class="form-control" ng-value="appId" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <label for="inputAuthProvider">Auth Provider*</label>
    <input type="text" class="form-control" id="inputAuthProvider" ng-value="authProvider" placeholder="Auth Provider">
  </fieldset>
  <fieldset class="form-group">
    <label for="rateLimit">Rate Limit*</label>
    <input type="text" class="form-control" id="rateLimit" placeholder="Rate Limit" ng-value="rateLimit">
  </fieldset>
  <fieldset class="form-group">
    <label for="endPointUrl">End Point URL*</label>
    <input type="text" class="form-control" id="endPointUrl" ng-value="endPointUrlValue" placeholder="http://">
  </fieldset>
  <fieldset class="form-group">
        <label for="oAuthId">oAuth Scope List*</label>
    
            <select id="oAuthId" multiple class="form-control"
            ng-model="selectedAuthScope">
            
            <option ng-repeat="oAuthScope in oAuthScopeList">
                {{oAuthScope}}
            </option>
  </fieldset>
 
  <button type="submit" ng-click="saveConsumer()" class="btn btn-primary btn-lg">Save</button>
</form>